

<% if user_signed_in? %>
  <%= render partial: 'top_unlogin' %>
<% else %>
  <section class="home-title">
    <h1>
      問問メーカー
    </h1>
    <h5>
      Toi Toi Maker
    <h5>
  </section>
  <section class="home-lists">
    <div class="home-list-text">
      問題を作る
    </div>
    <div class="home-list-text">
      自分の投稿一覧
    </div>
    <div class="home-list-text">
      本日の復習
    </div>
    <div class="home-list-text home-hojo" id="list-dojo">
      問問道場
      <div class="list-dojo-select" id="list-dojo-select">
        <div class="dojo-select-list">
          初級
        </div>
        <div class="dojo-select-list">
          中級
        </div>
        <div class="dojo-select-list">
          上級
        </div>
      </div>
    </div>
    <script>
      const listDojo = document.getElementById('list-dojo');
      const listDojoSelect = document.getElementById('list-dojo-select');
      document.addEventListener('click', (e) => {
        if(!e.target.closest('.home-hojo')) {
          listDojoSelect.classList.remove('list-dojo-select-show');
        } else {
          listDojoSelect.classList.add('list-dojo-select-show');
        }
      });

    </script>
  </section>
<% end %>