/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 80px;
  background: #232f34;
  color: white;
  font-size: 1rem;
}

.header-menu {
  width: 80px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.header-menu:before {
  content: url(assets/メニュー.png);
  width: 25px;
  height: 25px;
}

.header-point-posi {
  margin: 25px 0 0 25px;
  width: 150px;
}

.header-rank-posi {
  margin: 0 133px 0 auto;
  text-align: center;
}

.header-rank {
  font-size: 2rem;
}

.header-devise {
  margin: 0 0 0 auto;
}

.header-rank-index {
  cursor: pointer;
}

.header-devise-button {
  margin: 25px 10px 0 auto;
  width: 100px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.header-devise-button:hover {
  transition: 1s all;
  background: white;
  color: #232f34;
}

main {
  width: 600px;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  border: 1px solid black;
}
