/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 80px;
  background: #232f34;
  color: white;
  font-size: 1rem;
}

main {
  width: 800px;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
}

a {
  display: block;
}

.mask {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: none;
  cursor: pointer;
}

.mask-anime {
  animation: maskMenu 0.2s ease 0s 1 normal forwards;
}

@keyframes maskMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.header-menu {
  width: 80px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.header-menu:before {
  content: url(assets/メニュー.png);
  width: 25px;
  height: 25px;
}

.header-menu-lists {
  width: 300px;
  height: 100vh;
  position: absolute;
  left: -300px;
  top: 0;
  background: #232f34;
  opacity: 0;
}

.header-menu-anime {
  animation: headerMenu 0.2s ease 0s 1 normal forwards;
}

@keyframes headerMenu {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.menu-list-title {
  font-size: 1.5rem;
  padding: 10px 20px;
}

.menu-list-text {
  margin: 20px 0;
  font-size: 1.5rem;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.menu-list-text:hover {
  transition: 1s all;
  background: white;
  color: #232f34;
}

.menu-toitoi-lists {
  margin: 0;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  display: none;
}

.menu-toitoi-item {
  color: white;
}

.menu-toitoi-item:hover {
  transition: 0.2s all;
  background: white;
  color: #232f34;
}

.header-point-posi {
  margin: 25px 0 0 25px;
  width: 150px;
  cursor: pointer;
}

.header-rank-posi {
  margin: 0 133px 0 auto;
  text-align: center;
}

.header-rank {
  font-size: 2rem;
}

.header-rank-lists {
  width: 300px;
  height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  border: 1px solid black;
  z-index: 10;
  display: none;
}

.rank-show {
  display: block;
}

.header-devise {
  margin: 0 0 0 auto;
}

.header-rank-index {
  cursor: pointer;
}

.header-devise-button {
  margin: 25px 10px 0 auto;
  width: 100px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.header-devise-button:hover {
  transition: 0.7s all;
  background: white;
  color: #232f34;
  border: 1px solid #232f34;
}

.header-rank-lists {
  color: black;
  text-align: left;
  padding: 10px 0 0 50px;
  overflow: scroll;
}
