// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-title {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 40px;
}

//ログイン前
.devise-buttons {
  display: flex;
  width: 450px;
  margin: 80px auto 0 auto;
}

.devise-link-button {
  width: 205px;
  height: 150px;
  text-align: center;
  background: #66a8e2;
  border: double 5px #fff;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 10px;
  color: white;
}

.devise-link-button:hover {
  transition: 0.5s all;
  background: white;
  border: solid 5px #66a8e2;
  color: #66a8e2;
}

.devise-button-title {
  margin-bottom: 10px;
}

//ログイン後のホーム
.home-lists {
  text-align: center;
  margin-top: 50px;
}

.home-list-text {
  margin: 10px auto;
  cursor: pointer;
  width: 150px;
  color: black;
}

.home-list-text {
  margin: 10px auto;
  cursor: pointer;
  width: 150px;
}

.home-list-text:hover {
  transition: 0.5s all;
  background: #232f34;
  color: white;
}

.home-hojo {
  position: relative;
}

.list-dojo-select {
  display: none;
  width: 120px;
  background: white;
  border: 1px solid black;
  color: black;
  position: absolute;
  top: -55px;
  left: 110px;
}

.list-dojo-select-show {
  display: block;
}

.dojo-select-list:hover {
  background: #232f34;
  color: white;
}
